<div class="row">
  <div class="col-6">
<%= form_with(model: bottle) do |form| %>
  <% if bottle.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <%= pluralize(bottle.errors.count, "error") %> prohibited this bottle from being saved:
      <ul>
        <% bottle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>Logged in as <%= current_user.name %> <small><%= link_to 'Log out', destroy_user_session_path, method: :delete %></small></p>

  <div class="mb-3">
    <%= form.label :restaurant_id %>
    <%= form.select :restaurant_id, options_of_restaurants, {}, {class: "form-control"} %>
    <small><%= link_to 'Not found?', new_restaurant_path %></small>
  </div>

  <div class="mb-3">
    <%= form.label :picture %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>

  <% if @bottle.id %>
    <div class="mb-3">
      <%= form.label :status %>
      <%= form.select :status, options_of_status, {}, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <% l = @bottle.id ? 'Update bottle' : 'Keep the bottle' %>
    <%= form.submit l, class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
</div>

<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;

  console.log('Your current position is:');
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}

navigator.geolocation.getCurrentPosition(success, error, options);
</script>
