<div class="row">
  <div class="col-md-6">
<%= form_with(model: bottle) do |form| %>
  <% if bottle.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <%= pluralize(bottle.errors.count, "error") %> prohibited this bottle from being saved:
      <ul>
        <% bottle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :restaurant_id, "店舗" %>
    <%= form.select :restaurant_id, options_of_restaurants, {}, {class: "form-control"} %>
    <small><%= link_to 'Not found?', new_restaurant_path %></small>
  </div>

  <div class="mb-3">
    <%= form.label :picture, "写真" %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>

  <% if @bottle.id %>
    <div class="mb-3">
      <%= form.label :status, "状態" %>
      <%= form.select :status, options_of_status, {}, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <% l = @bottle.id ? 'ボトルを更新する' : 'ボトルをキープする' %>
    <%= form.submit l, class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
</div>
