<h1>キープ中のボトル一覧</h1>

<div class="row">
<% @bottles.each do |bottle| %>
  <div class="col-sm-4">
    <div class="card mb-2">
      <% if bottle.picture.attached? %>
        <%= image_tag bottle.picture, class: "card-img-top" %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/300", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= bottle.restaurant.name %></h5>
        <p class="card-text"><%= bottle.updated_at.strftime("%F %T") %></p>
        <%= link_to '<i class="bi bi-info-square"></i>'.html_safe, bottle, class: "btn btn-light" %>
        <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_bottle_path(bottle), class: "btn btn-light" %>
        <%= link_to '<i class="bi bi-trash"></i>'.html_safe, bottle, method: :delete, data: { confirm: '本当によろしいですか？' }, class: "btn btn-danger"  %>
      </div>
    </div>
  </div>
<% end %>
</div>

<p class="mt-3">
<%= link_to 'ボトルを追加する', new_bottle_path, class: "btn btn-primary" %>
</p>
<hr>
<h2>履歴</h2>
<% @inactive_bottles.each do |bottle| %>
  <%= link_to((bottle.restaurant.name+" "+bottle.updated_at.strftime("%F %T")), bottle) %> <%= bottle.status_text %><br>
<% end %>
