<p id="notice"><%= notice %></p>

<h1>Bottles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bottles.each do |bottle| %>
      <tr>
        <td><%= bottle.restaurant_id %></td>
        <td><%= bottle.user_id %></td>
        <td><%= bottle.status %></td>
        <td><%= link_to 'Show', bottle %></td>
        <td><%= link_to 'Edit', edit_bottle_path(bottle) %></td>
        <td><%= link_to 'Destroy', bottle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bottle', new_bottle_path %>
