<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-6">
<p>
  <strong>Restaurant:</strong>
  <%= @bottle.restaurant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bottle.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bottle.status %>
</p>
  </div>
  <div class="col-6">
  <% if @bottle.picture.attached? %>
    <%= image_tag @bottle.picture, class: "img img-responsive img-rounded", style: "max-height: 360px" %>
  <% else %>
    picture not found
  <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Bottles', bottles_path %>
