<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @bottle.restaurant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bottle.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bottle.status %>
</p>

<% if @bottle.picture.attached? %>
  <%= image_tag @bottle.picture %>
<% else %>
  picture not found
<% end %>


<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Bottles', bottles_path %>
