<h2><%= @bottle.restaurant.name %></h2>

<div class="row">
  <div class="col-sm-6">
  <% if @bottle.picture.attached? %>
    <%= image_tag @bottle.picture.variant(resize:'300x300'), class: "img img-responsive img-rounded", style: "max-height: 360px" %>
  <% else %>
    <%= image_tag "https://via.placeholder.com/300", class: "card-img-top" %>
  <% end %>
  </div>
  <div class="col-sm-6">
    <%= @bottle.updated_at.strftime("%F %T") %>
    <%= @bottle.status_text %>
    <strong>登録ユーザ:</strong>
    <%= @bottle.user.name %>
  </div>
</div>

<p class="mt-3">
<%= link_to '<i class="bi bi-pencil-square"></i> 編集する'.html_safe, edit_bottle_path(@bottle), class: "btn btn-sm btn-light" %>
<%= link_to '<i class="bi bi-list"></i> 登録済みボトルの一覧'.html_safe, bottles_path, class: "btn btn-sm btn-light" %>
</p>