<!DOCTYPE html>
<html>
  <head>
    <title>KeptBottleRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">KeptBottleRails</a>
      </div>
    </nav>
    <div class="container" style="padding-top: 12px">
      <% if notice %>
        <div id="notice" class="alert alert-success" style="margin-top: 12px"><%= notice %></div>
      <% end %>
      <%= yield %>
    </div>
    <%# js for bootstrap is omitted for now. %>
  </body>
</html>
